/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

@font-face {
    font-family: "Young Serif";
    src: 
        local("Young Serif"),
        url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
    font-family: "Outfit";
    src: 
        local("Outfit"),
        url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

:root {
    --font-1: "Young Serif";
    --font-2: "Outfit";
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone-100: hsl(30, 54%, 90%);
    --clr-stone-150: hsl(30, 18%, 87%);
    --clr-stone-600: hsl(30, 10%, 34%);
    --clr-stone-900: hsl(24, 5%, 18%);
    --clr-brown-800: hsl(14, 45%, 36%);
    --clr-rose-800: hsl(332, 51%, 32%);
    --clr-rose-50: hsl(330, 100%, 98%);
    --font-size: 1rem;

    --spacer-1: 2rem;
}

html,
body {
    font-family: var(--font-2);
    font-size: var(--font-size);
    line-height: 1.5;
    letter-spacing: -1%;
    font-size: 0.95rem;
    background-color: var(--clr-stone-100);
}

main {
    max-width: 1440px;
    min-height: 100vh;
    margin-inline: auto;
}

.wrapper {
    margin-inline: 2.25rem;
}

.recipe {
    display: grid;
    gap: var(--spacer-1);
    background-color: var(--clr-white);
    color: var(--clr-stone-600);
    

    strong {
        font-weight: 600;
    }

    ol, ul  {
        padding-inline-start: 1.45rem;
    }
}

@media (min-width: 29rem) {
    
    .wrapper {
        margin-inline: initial;
    }
    .recipe {
        padding: 24px;
        max-width: min(90%, 46.25rem);
        margin-inline: auto;
        margin-block: 6.25rem;
        border-radius: 0.625rem;
    }

    .recipe__header > img {
        border-radius: 0.625rem;
    }
}

.recipe__header {
    display: grid;
    gap: 2.5rem;
}
.recipe__header__content {
    display: grid;
    gap: 1.56rem;
    font-weight: 500;
    
    h1 {
        font-size: 2.1rem;
        line-height: 1.1;
        color: var(--clr-stone-900);
        font-family: var(--font-1);
        font-weight: 500;
        letter-spacing: 1%;
    }
}

.recipe_preparation-time {
    border-radius: 0.625rem;
    padding: 1.5rem;
    background-color: var(--clr-rose-50);
    display: grid;
    gap: 1.25rem;
    box-shadow: 5px 5px 0 5px var(--clr-rose-50);

    h2 {
        font-family: var(--font-2);
        font-size: 1.15rem;
        font-weight: 600;
        color: var(--clr-rose-800);
        
    }

}

.bullet-ul {
    padding: 0;
    list-style: none;
    display: grid;
    gap: 1rem;

    li {
        position: relative;
        display: flex;
        gap: 1.75rem;
        align-items: center;
    }
    li::before {
        content: "\2022";
        color: var(--clr-rose-800);
        font-size: 1.5rem;
    }
}

.recipe_section {

    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--clr-stone-150);
    
    h2 {
        font-family: var(--font-1);
        color: var(--clr-brown-800);
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 0.94rem;
    }

    &:last-of-type {
        border-bottom: 0;
    }

    table {
        width: 100%;
        margin-block: 0.94rem;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid var(--clr-stone-150);
            &:last-of-type {
                border-bottom: 0;
            }
            td {
                padding-block: 0.5rem;
                &:nth-of-type(2) {
                    color: var(--clr-brown-800);
                    font-weight: 500;
                }
                
            }
        }
        
    }
}



ol {
    list-style: none;
    counter-reset: item;
    
}

ol > li {
    counter-increment: item;
    margin-bottom: 0.94rem;
    display: inline-flex;
    gap: 0.94rem;
    &::before {
        content: counter(item)".";
        display: inline-block;
        font-weight: 700;
        color: var(--clr-brown-800);

    }
}